# Build directories
build/
out/
cmake-build-*/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles/
*.cmake
!CMakeLists.txt
Makefile

# Testing
Testing/
CTestTestfile.cmake 